.left__sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
}
.logo{
    padding: 0 60px;
    text-align: start;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
}
.logo h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -1.5px;
    color: #4682B4;
}
.menu h4{
    font-size: 16px;
    font-weight: 600;
    color: #54616C;
    padding: 0 60px;
    text-align: start;
}
.menu__list{
    padding: 0 36px;
    list-style: none;
}
.menu__item{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 12px 20px;
    border-radius: 5px;
    margin-top: 8px;
    color: #54616C;
    cursor: pointer;
}
.menu__item:hover{
    color: #fff;
    background-color: #1684E0;
}
.menu__icon{
    display: flex;
    align-items: center;
    justify-content: start;
}
.menu__item span{
    text-align: start;
}